body {
  position: relative;
  background-color: rgb(247, 247, 247);
}

h1 {
  margin: 50px;
  color: rgb(80, 80, 80);
  text-transform: uppercase;
}

.grid-container{
  margin: 0 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  margin-bottom: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.modal {
  width: 25%;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  border: none;
  background: white;
}

.hidden {
  display: none;
}

.avatar {
  border-radius: 50%;
  margin: 20px;
}

.text-container {
  margin-right: 20px;
}

.card {
  display: flex;
  border: 2px rgb(221, 221, 221) solid;
  background-color: white;
  border-radius: 5px;
  align-items: center;
}

.text-container h2 {
  color: rgb(81, 80, 80);
  margin-block: 5px;
}

.text-container p {
  color: #778;
  margin-block: 5px;
}

hr{
  margin-block: 30px;
}

.modal-content > .avatar{
  transform: scale(1.5);
  padding: 20px;
}